*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;

}

#container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background-color: red;
    height:100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;/*se pone la misma que height*/
    color:white;
    border-bottom: 3px dashed black;
}
nav{
    background-color: lightblue;
    height:50px;
    border: 1px;
}
nav ul li {
    float:left; /*elementos floten a la izq*/
    list-style:none;
    margin:10px;
    line-height: 30px;
}
.clearfix{
    clear:both;/*floto elementos los elementos de abajo se queden en su sitio*/
}
#content{
    float:left;
    width: calc(80% - 80px);/*dejar espacio entre los 2 elementos a restar*/
    background-color: green;
    min-height: 500px;
    padding: 40px;
}
aside{
    float:left;
    width:calc(20% - 20px);/*ajusta el contenido restando el pading para wvitar que se vaya abjo*/
    background-color: orange;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
    
}

button{
    margin-left:13rem;
    background-color: red;
    font-size: large;
    color:white;
    font-weight: bolder;
    border-radius: 5px;
    padding: .9rem;
    margin-bottom: 1rem;
    
}

footer{
    background-color: black;
    color:white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.article{
    color: white;
    margin-top:15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article:first-child{
    padding-top:10px;
    border-top: 1px solid #eee;
}/* da estilo a la linea de arriba de título*/
.article h2{
    font-size: 25px;
}
/* Estilos base del modal */
.modal {
    display: none; /* Iniciar el modal cerrado */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Ancho máximo del modal */
}

/* Media query para hacerlo responsive */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%; /* Ajustar el ancho para dispositivos más pequeños */
    }
}

